.header {
    display: grid;
    grid-area: h;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 0 24px;
    background-color: #27272A;
    border-bottom: 1px solid #414144;
}

.icon {
    margin-right: 27px;
    cursor: pointer;
}

.menuItem a {
    margin-right: 28px;
    font-size: 14px;
    line-height: 16px;
    color: #A1A1AA;
    text-decoration: none;
}

.menuItem a.active {
    color: #fff;
}
