.navbar {
    display: flex;
    align-items: stretch;
    width: 234px;
    height: calc(100% - 44px);
    background-color: #27272A;
    border-top: 1px solid #414144;
    border-right: 1px solid #414144;
}